



.heading {
    overflow: visible;
  }


  .image-6 {
    position: absolute;
    left: 55%;
    top: 110px;
    z-index: 2;
  }

  .image-5 {
    position: absolute;
    left: 52%;
    top: 171px;
    z-index: 1;
    display: block;
    overflow: visible;
    object-fit: scale-down;
  }

  .image-8 {
    position: absolute;
    left: 63%;
    top: 194px;
    z-index: 4;
  }

  .image-7 {
    position: absolute;
    left: 46%;
    top: 300px;
    z-index: 3;
  }

  .section {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
  }
  
  .section:small {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container {
    width: 100%;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container:small {
    text-align: center;
  }
  .hero {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
  }
  
  .hero:small {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }


.flex-container {
    display: block;
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  
  .flex-container:small {
    flex-direction: column;
  }


  .section {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
  }
  
  .section:small {
    margin-right: 15px;
    margin-left: 15px;
  }

  .works-grid {
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
    grid-column-gap: 47px;
    grid-row-gap: 30px;
    grid-template-areas: ". . ."
      ". . .";
    grid-template-columns: 1.5fr 0.5fr 1.5fr;
    grid-template-rows: auto auto auto auto;
    object-fit: fill;
  }
  
  .works-grid:medium {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .Block:local-styles {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .work-image-mv {
    display: flex;
    height: 460px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: hsla(142.0212765957447, 77.69%, 47.45%, 1.00);
    text-align: center;
    text-decoration: none;
  }
  
  .work-image-mv:medium {
    margin-bottom: 30px;
  }
  
  .work-image-mv:hover {
    opacity: 0.8;
  }
  
  .work-image-mv:active {
    opacity: 0.7;
  }
  
  .work-image-mv.cc-work-1 {
    flex-direction: row;
    background-color: hsla(210, 100.00%, 25.10%, 1.00);
  }

  .Block:local-styles {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }

  .work-image {
    display: flex;
    height: 460px;
    margin-bottom: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: hsla(142.0212765957447, 0.00%, 0.00%, 1.00);
    text-align: center;
    text-decoration: none;
  }
  
  .work-image:medium {
    margin-bottom: 30px;
  }
  
  .work-image:hover {
    opacity: 0.8;
  }
  
  .work-image:active {
    opacity: 0.7;
  }

  .Block:local-styles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }