@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap');

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;


* {
    box-sizing: border-box;
    font-family: 'Fraunces', sans-serif;
  }
  
  body {
    margin: 0;
  }

  a{
      text-decoration: none;
  }

  a:hover{
      cursor: pointer;
  }

  a:visited { 
    text-decoration: none; 
    color: black; 
   }

  input{
      border-color:#D9D9D9;
      padding:5px 50px;
      border-radius:100px;
      box-shadow:10px 5px 5px #D9D9D9;
    color: #D9D9D9 !important;
  }

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw 0px 10vw ;
  
    .company-name {
      font-size: 2em;
      font-weight:800;
    }
  
    .nav-buttons a {
      background-color: transparent;
      border: none;
      margin: 0 10px;
      font-size:1.5em;
  
      &.log-in {
        background-color: black;
        color: white;
        border-radius: 20px;
        padding:10px;
      }
    }
  }
  
  hr {
    border: none;
    border-top: 1px solid black;
    width:80vw;
    margin:10px auto;
  }
  
.book{
    padding: 0 30vw 40px 30vw !important;
}

  .intro {
    text-align: center;
    
    padding: 0 20vw 40px 20vw;
  
    h1{
        font-size: 5em;
        font-weight: 500;
        padding-left:10%;
        padding-right:10%;
        overflow: visible;
    }
    p{
        font-size:2em;
    }
    
    .bg-image{
        position: absolute;
        width:300px;
        z-index:-5;
    }

    .tl{
        left:10px;
        top:100px;
    }
    
    .bl{
        left:80px;
        top:300px;
    }
    
    .tr{
        right:10px;
        top:100px;
    }
    
    .br{
        right:80px;
        top:300px;
    }

    .filter{
        max-width:75%;
        margin:0 auto;
        display: flex;
        gap:20px;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    hr{
        width:75%;
        border-width: 3px;
    }

    button{
        background-color: black;
        color: white;
        border-radius: 20px;
        padding:10px 50px;
        font-size:2em;
    }

    .search-area{
        display: flex;
        flex-direction: column;
        gap:10px;
        font-size: 1.5em;
    }

    .bold {
        position: relative; 
        display: inline-block; // Makes it possible to use top and bottom padding
        overflow: visible;
        font-weight: 800;
        
        &:after {
          content: ''; 
          display: block;
          position: absolute;
          bottom: 5px; // Moves the underline down below the text
          left: -10px; // Extends the underline to the left
          width: calc(100% + 30px); // Makes the underline wider than the text
          height: 30px; // Adjust the height of the underline
          background: url('./images/brush-stroke.png') no-repeat center center;
          background-size: cover; 
          z-index: -5;
        }
      }
    
  
  
  .bold2 {
    position: relative; 
    display: inline-block; // Makes it possible to use top and bottom padding
    font-weight: 800;
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px; // Adjusts the vertical position of the underline
        left: -10px; // Adjusts the left position of the underline
        right: -10px; // Adjusts the right position of the underline
        height: 20px;
        background: url('./images/brush-stroke-small.png') no-repeat center center;
        background-size: cover; 
        z-index: -5;
    }
  }


    .bulleted-list-image {
      display: flex;
      justify-content: space-around;
      
      img{
          width:30%;
      }
      
      ul {
        list-style-type: none; // Remove the default bullets
        padding: 0;
        margin: 0;
      
        li {
          margin-bottom: 1em; // Add some space between list items
          text-align: left !important;
          font-size:2em;
          padding-left: 30px; // Provide space for the image bullet
          background-image: url('./images/radio_button_checked.png'); // Path to your bullet image
          background-position: left center; // Position the bullet image
          background-repeat: no-repeat; // Do not repeat the bullet image
          background-size: 20px; // Size of the bullet image
          text-indent: 5px; // Indent text to avoid overlap with the bullet image
        }
      }
      
    }
  }
  
  .banner {
    background-color: #D9D9D9;
    text-align: center;
    padding: 2px 0;
    font-weight: 800;
  }
  
  .how-it-works {
    text-align: center;
    padding: 20px 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;

    h1{
        font-size: 3em;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .how-text{
            flex-direction: column;
        }

    }

    .how-two{
        flex-wrap: wrap-reverse;
    }

    p{
        font-size:2em;
        font-weight: 800;  
        padding: 0 100px;
    }

    #sub-p{
        font-weight:300 !important;
        font-size:1em;
    }

    img{
        width:50%;
    }
  }
  
  footer {
    background-color: black;
    color: white;
    padding: 20px 10vw;
    text-align: center;
  
    .company-name {
        font-size: 2em;
        font-weight:800;
      }

    .footer-content{
        display: flex;
        justify-content: space-between;

        align-items: center;
    }

    hr{
        border-color: white;
    }

    .legal {
      font-size: 0.8em;
  
      button {
        background-color: transparent;
        border: none;
        color: white;
      }
    }

    .menu{
        display: flex;
        font-weight:800;
        gap:50px;
    }
  }
  
  

@media (max-width: $mobile) {
    nav {
      padding: 10px 5vw;
  
      .company-name {
        font-size: 1.5em;
      }
  
      .nav-buttons a {
        font-size: 1.2em;
  
        &.log-in {
          padding: 8px;
        }
      }
    }
  
    hr {
      width: 90vw;
    }
  
    .intro {
      padding: 0 5vw 20px 5vw;
  
      h1 {
        font-size: 3em;
        padding-left: 5%;
        padding-right: 5%;
      }
      .bulleted-list-image {
        flex-direction: column;
  
        img {
          width: 100%;
          margin-top: 20px;
        }
        ul{
          li {
          margin-bottom: .5em; // Add some space between list items
          text-align: left !important;
          font-size:1.5em;
          background-size: 15px; // Size of the bullet image
          }
        }
      }
      .bold {
        position: relative; 
        display: inline-block; // Makes it possible to use top and bottom padding
        font-weight: 800;
        
        &:after {
            display: none;
        }
      }
      .bold2 {
        position: relative; 
        display: inline-block; // Makes it possible to use top and bottom padding
        font-weight: 800;
        
        &:after {
            display: none;
        }
      }
    }
  
    .how-it-works {
      padding: 20px 3vw;
  
      div {
        flex-wrap: wrap;
        align-items: center;
  
        p {
          font-size: 1.5em;
          padding: 0 20px;
        }
  
        img {
          width: 90%;
        }
      }
      .how-two{
          flex-wrap: wrap-reverse;
      }
      
    }
  
    footer {
      padding: 20px 5vw;
  
      .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
  
      .menu {
        flex-direction: column;
        gap: 10px;
      }
    }

    .book {

        padding-left: 5vw !important;
        padding-right: 5vw !important;
        
        .bg-image{
          display:none;

        }


    
        h1 {
          font-size: 2.5em;
        }
    
        p {
          font-size: 1.5em;
          text-align: center;
        }
    
        .search-area {
          flex-direction: column;
          gap: 10px;
    
          .filter span {
            display: block;
            margin: 5px 0;
          }
    
          input[type="text"], input[type="date"] {
            margin-top: 10px;
            width: 100%;
          }
        }
      }
    
  }